<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="mapLayersConfig" value=".\MapLayers.xml"/>
      <add key="Scales" value=".\Scales.xml"/>
      <add key="InitialMapDisplayRange" value="200000"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
      <add key="WebServerPollingInterval" value="60"/>
    </appSettings>
</configuration>
